@media only screen and (max-width: 600px) {
  .sidebar {
    height: auto !important;
    width: 100vw !important;
  }

  header {
    display: none !important;
  }

  main > div {
    height: 100vh !important;
  }
}

.sidebar {
  position: sticky;
  width: 240px;
  z-index: 9000;
  left: 0;
  top: 0;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: grey;
}

.brandlink {
  border-bottom: 1px solid grey;
}

.headerheight {
  height: 77px;
}

.calendarWidth {
  width: 150px;
}
